<footer
    class="fixed bottom-0 w-full bg-gray-800 text-white text-center text-xs sm:text-sm md:text-md py-1 sm:py-3 md:py-3"
>
    <p>
        Melanoma Detect AI:
        <a
            class="text-blue-400 hover:text-blue-600 font-semibold px-2"
            href="https://github.com/JaimeGR3/MelanomaDetect"
            target="_blank"
            rel="noopener noreferrer"
        >
            Repositorio GitHub
        </a>
    </p>
</footer>
