<main class="align-center max-w-6xl mx-auto p-8">
    <h2 class="text-2xl text-gray-800 border-b-2 border-blue-500 pb-2">
        Cómo funciona Melanoma Detect AI
    </h2>

    <div class="mt-4 space-y-6 text-lg text-gray-700">
        <p>
            Melanoma Detect AI es una herramienta diseñada para ayudarte a detectar de
            forma temprana posibles casos de melanoma, un tipo de cáncer de
            piel. Utiliza inteligencia artificial entrenada con miles de
            imágenes para analizar la imagen que que quieras y ofrecerte una
            predicción.
        </p>

        <p>
            Antes de subir la imagen, podrás elegir un <strong
                >nivel de sensibilidad</strong
            >, también llamado "umbral". Esto sirve para ajustar la forma en la
            que el sistema decide si una lesión parece ser melanoma o no.
            Simplemente escoge el nivel que se ajuste mejor a tu caso:
        </p>

        <ul class="list-disc list-inside">
            <li>
                <strong>Umbral Bajo (más sensible):</strong> detecta más posibles
                casos, aunque podría dar más falsos positivos.
            </li>
            <li>
                <strong>Umbral Medio (equilibrado):</strong> ofrece un buen balance
                entre detección y precisión.
            </li>
            <li>
                <strong>Umbral Alto (más estricto):</strong> reduce los falsos positivos,
                pero podría pasar por alto algunos casos reales.
            </li>
        </ul>

        <p>
            Una vez elegido el umbral, solo tienes que <strong
                >subir una imagen de la lesión cutánea</strong
            > que deseas analizar. El sistema procesará la imagen y en unos segundos
            te mostrará un resultado.
        </p>
    </div>
    <div class="mt-8 flex justify-center">
        <a
            href="/main"
            class="bg-emerald-600 hover:bg-emerald-700 text-white font-semibold py-3 px-6 rounded-xl shadow-md transition-all duration-300 flex items-center gap-2"
        >
            Empezar análisis
        </a>
    </div>
</main>
