<main
    class="flex-1 flex justify-center pt-4 px-6 text-gray-800 dark:text-gray-100  min-w-80"
>
    <div class="w-4xl text-left text-xs sm:text-sm md:text-base">
        <p class="text-xs sm:text-sm md:text-base text-pretty pb-4">
            Diagnóstico inteligente de melanoma usando redes neuronales
            convolucionales y análisis avanzado de imágenes médicas.
        </p>
        <h2
            class="text-gray-800 dark:text-gray-100 font-medium border-b-2 border-blue-500 pb-2 text-base sm:text-xl md:text-2xl"
        >
            Cómo funciona Melanoma Detect AI
        </h2>
        <div class="mt-4 space-y-6 text-gray-700 dark:text-gray-50">
            <p>
                Melanoma Detect AI es una herramienta diseñada para ayudarte a
                detectar de forma temprana posibles casos de melanoma, un tipo
                de cáncer de piel que apesar de no ser del que hay, representa
                el 75% de las muertes por cancer de piel.
                <br />Utiliza Melanoma Detect una inteligencia artificial
                entrenada con miles de imágenes para analizar la imagen que que
                quieras y ofrecerte una predicción.
            </p>


            <p>
                Solo tienes que <strong
                    >subir una imagen de la lesión cutánea</strong
                > que deseas analizar. El sistema procesará la imagen y en unos segundos
                te mostrará un resultado.
            </p>

            <div class="mt-6 mb-15 flex justify-center">
                <a
                    href="/main"
                    class="bg-emerald-600 hover:bg-emerald-700 text-white font-semibold py-3 px-6 rounded-xl shadow-md transition-all duration-300 flex items-center gap-2"
                >
                    Empezar análisis
                </a>
            </div>
        </div>
    </div>
</main>
