---
// Result.astro
---

<section class="flex flex-col items-center justify-center p-10 sm:pt-30">
    <h2
        class="text-lg sm:text-xl md:text-2xl font-medium mb-3 text-center text-gray-800 dark:text-gray-100"
    >
        Resultado del análisis
    </h2>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <!-- Imagen seleccionada -->
  <div
    class="flex flex-col items-center bg-gray-100 dark:bg-gray-300 p-4 sm:p-6 rounded-lg shadow-md w-full"
  >
    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-4">
      Imagen seleccionada
    </h3>
    <img
      id="selectedImage"
      src=""
      alt="Imagen seleccionada"
      class="max-w-[7.5rem] max-h-[7.5rem] sm:max-w-[10rem] sm:max-h-[10rem] md:max-w-[12rem] md:max-h-[12rem] object-contain rounded hidden"
    />
    <p
      class="mt-1 text-gray-500 text-xs sm:text-sm md:text-base text-center"
      id="imagePlaceholder"
    >
      No se ha seleccionado una imagen.
    </p>
  </div>

  <!-- Resultado del análisis -->
  <div
    class="bg-white dark:bg-gray-300 p-4 sm:p-6 rounded-lg shadow-md border w-full text-center"
    style="height: auto;"
  >
    <h3 class="text-base sm:text-lg md:text-xl font-semibold mb-2">
      Diagnóstico
    </h3>
    <p
      id="resultText"
      class="text-xs sm:text-sm md:text-base text-gray-700 text-center"
    >
      Aún no se ha procesado ninguna imagen.
    </p>
  </div>
</div>

</section>
