<main class=" p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center">Selecciona el umbral deseado</h2>

  <form class="space-y-4">
    <!-- Opción 1 -->
    <label class="flex items-center p-4 border rounded-lg cursor-pointer hover:border-blue-500">
      <input
        type="radio"
        name="threshold"
        value="0.2"
        class="form-radio text-blue-600"
        checked
      />
      <div class="ml-4">
        <p class="font-semibold">Umbral Bajo</p>
        <p class="text-gray-600 text-sm">
          Sensibilidad alta, detecta más casos pero puede aumentar falsos positivos.
        </p>
      </div>
    </label>

    <!-- Opción 2 -->
    <label class="flex items-center p-4 border rounded-lg cursor-pointer hover:border-blue-500">
      <input
        type="radio"
        name="threshold"
        value="0.43"
        class="form-radio text-blue-600"
      />
      <div class="ml-4">
        <p class="font-semibold">Umbral Medio</p>
        <p class="text-gray-600 text-sm">
          Balance entre sensibilidad y precisión, recomendado para uso general.
        </p>
      </div>
    </label>

    <!-- Opción 3 -->
    <label class="flex items-center p-4 border rounded-lg cursor-pointer hover:border-blue-500">
      <input
        type="radio"
        name="threshold"
        value="0.6"
        class="form-radio text-blue-600"
      />
      <div class="ml-4">
        <p class="font-semibold">Umbral Alto</p>
        <p class="text-gray-600 text-sm">
          Mayor precisión, reduce falsos positivos pero puede perder algunos casos.
        </p>
      </div>
    </label>
  </form>
</main>

<script>
  let lastPrediction = null;

  function applyThreshold(threshold) {
    const resultText = document.getElementById("resultText");
    if (lastPrediction !== null && resultText) {
      const percentage = (lastPrediction * 100).toFixed(2);
      const diagnosis = lastPrediction >= threshold ? "Melanoma" : "No Melanoma";
      resultText.textContent = `Resultado: ${diagnosis} (Prob: ${percentage}%)`;
    }
  }

  document.querySelectorAll('input[name="threshold"]').forEach((radio) => {
    radio.addEventListener("change", () => {
      console.log("Threshold changed to:", radio);
      const selectedImage = document.getElementById("selectedImage");

      if ( selectedImage )
      applyThreshold(radio.value, selectedImage.value);
    });
  });

  window.addEventListener('prediction-updated', (event) => {
    console.log("Prediction updated:", event);
  lastPrediction = event.detail;
  // Actualiza UI o variable local con prediction
});
</script>
